In [59]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [126]:
from Distances import euclidean
from Distances import manhattan
from Knn import Knn
import pandas as pd
from votes import majority_vote, distance_weighted_vote

In [480]:
iris = pd.read_csv('datasets\Iris.csv')
glass = pd.read_csv('datasets\glass.csv')
wine = pd.read_csv('datasets\wine.csv')
seeds = pd.read_csv('datasets\seeds.csv')
col = 'Species'
iris = iris.astype({'Species': 'category'})
iris.dtypes

Id                  int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object

In [312]:
from preprocess import preprocess_dateset

In [377]:
dataset = iris
dataset = change_category_columns(iris,['Species'])
cat_columns = dataset.select_dtypes(include=['category'])
scaler = StandardScaler()
dataset = scaler.fit_transform(dataset.select_dtypes(exclude=['category']).values)
dataset=pd.DataFrame(dataset)
pd.concat([dataset, cat_columns], axis=1, sort=False)

            0         1         2         3         4 Species
0   -1.720542 -0.900681  1.032057 -1.341272 -1.312977       0
1   -1.697448 -1.143017 -0.124958 -1.341272 -1.312977       0
2   -1.674353 -1.385353  0.337848 -1.398138 -1.312977       0
3   -1.651258 -1.506521  0.106445 -1.284407 -1.312977       0
4   -1.628164 -1.021849  1.263460 -1.341272 -1.312977       0
..        ...       ...       ...       ...       ...     ...
145  1.628164  1.038005 -0.124958  0.819624  1.447956       2
146  1.651258  0.553333 -1.281972  0.705893  0.922064       2
147  1.674353  0.795669 -0.124958  0.819624  1.053537       2
148  1.697448  0.432165  0.800654  0.933356  1.447956       2
149  1.720542  0.068662 -0.124958  0.762759  0.790591       2

[150 rows x 6 columns]

In [519]:
from Distances import euclidean,manhattan

In [520]:
euclidean(x,y)

3.605551275463989

In [521]:
manhattan(x,y)

5

In [522]:
def manhattan(x1, x2): #this aproch has O(nlogn)
    def distance_func(x):
        x_size = len(x)
        x_list = list(x)
       # print(x_list)
        x_list.sort()
        res = 0
        sum = 0
        for i in range(x_size):
            print(sum)
            res += (x_list[i] * i - sum)
            sum += x_list[i]
        return res

    return distance_func(x1) + distance_func(x2)

In [523]:
manhattan(x,y)

0
1
0
3

3

In [524]:
x = [1,2]
y = [3,5]
def distancesum (x, y, n): 
    sum = 0
      
    # for each point, finding distance 
    # to rest of the point 
    for i in range(n): 
        for j in range(i+1,n): 
            sum += (abs(x[i] - x[j]) +
                        abs(y[i] - y[j])) 
      
    return sum

In [525]:
distancesum(x,y,len(x))

3

In [526]:
manhattan(x,y)

0
1
0
3

3